@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-goodly);
}

@layer base {
  html,
  body {
    --font-inter: var(--font-inter);
    --font-goodly: var(--font-goodly);

    @apply font-sans text-gray-900 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    @apply font-semibold;
  }
}
@utility font-sans {
  font-family: var(--font-sans);
}

@utility font-display {
  font-family: var(--font-display);
}
